body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}


main {
    margin: 20px;
    padding: 20px;
    background: rgba(250, 247, 247, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 254, 254);
    width: 70%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, password {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #047942;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

p {
    font-weight: bold;
    color: rgb(239, 239, 241);
}

h2 {
    color: #000000;
}

label {
    color: rgb(0, 0, 0) ;
}
