body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    align-content: center;
    margin: 0 auto;
}

header {
    background: #2c2929;
    color: white;
    padding: 10px 0;
}

main {
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(192, 191, 191);
    
    margin: 0 auto;
    max-width: 300px;
    border: 1px #ccc;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 8px;
    width: 70%;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    margin: 0 auto;
}

p {
    font-weight: bold;
    color: rgb(2, 2, 2);
    text-align: center;
}

h2 {
    color: #000000;
    text-align: center;
}

label {
    color: rgb(0, 0, 0) ;
    text-align: center;
}

  button {
    background: #04c279;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px;
    padding: 8px;
    width: 70%;
    margin: 0 auto;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #f0f2f5;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: rgb(255, 255, 255);
    height: 100vh;
   
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.sidebar-menu li:hover {
    background-color: #444;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 0 auto;
}

.welcome-message {
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

